#welcome {
    background-color: #153C6E;
    text-align: center;
    color: white;
}
#checkdata {
    margin-top: 50px;
    text-align: center;
}
.btn-primary {
  color: #ffffff;
  background-color: #231D2B;
  border-color: #231D2B;
}
#welcome-info {
    padding-top: 50px;
}
