#title {
    background-color: #153C6E;
    text-align: center;
    color: white;
}
#checkdata {
    margin-top: 50px;
    text-align: center;
}
.btn-primary {
    color: #ffffff;
    background-color: #231D2B;
    border-color: #231D2B;
}
#welcome-info {
    padding-top: 50px;
}
.container-fluid {
    text-align: center;
    padding-bottom: 20px;
}
.panel {
    text-align: center;
}

/* <--------> NAVBAR CSS <--------> */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #27292E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#menu {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
}
